@font-face {
  font-family: Junction;
  src: url("../fonts/junction-regular/Junction.otf") format("opentype");
}
body {
  background: #f2f2f2;
  font-family: Junction, sans;
  text-align: center;
}
/* Aspect ratio based on https://stackoverflow.com/a/10441480 */
#mynetwork {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background-image: url("../resources/thetachiflagmodified.jpg");
  background-size: 100%;
  border: 1px solid lightgrey;
}
div.stretchy-wrapper {
  width: 100%;
  padding-bottom: 66%; /* 3:2, the flag's aspect ratio */
  position: relative;
}

.arrow {
  border: solid black;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
